.transparent-bg {
  --background: transparent !important;
  background: transparent !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  text-align: center;
}

.welcome-box {
  margin-bottom: 30px;
  h3 { font-weight: bold; }
  p { color: #666; }
}

/* Capa oscura exterior del visor */
.scan-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.scan-instructions {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
}

/* El cuadro objetivo */
.scan-box {
  width: 260px;
  height: 260px;
  border: 4px solid #3880ff;
  border-radius: 16px;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.65); /* Opaca el resto de la pantalla */
}

.stop-btn {
  margin-top: 40px;
  width: 180px;
  --box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}